@font-face {
    src: url(../fonts/Seele-One.otf) format("opentype");
    font-family: Seele-One;
}

@font-face {
    src: url(../fonts/Seele-Two.otf) format("opentype");
    font-family: Seele-Two;
}

body {
    background: black;
    font-family: Seele-One;
    color: white;
}

main {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    justify-content: space-around;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article li {
    list-style-type: none;
    /* text-align: left; */
}

img {
    height: 35vh;
}