@font-face {
    src: url(../fonts/Seele-One.otf) format("opentype");
    font-family: Seele-One;
}

@font-face {
    src: url(../fonts/Seele-Two.otf) format("opentype");
    font-family: Seele-Two;
}

@font-face {
    src: url(../fonts/Plavsky.otf);
    font-family: Plavsky;
}

body {
    /* background: black; */
    font-family: Seele-One;
    color: #3e3e3e;
}

header {
}

main {
    display: grid;
    justify-content: space-around;
    grid: auto-flow / 1fr 1fr;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article li {
    /* text-align: left; */
    list-style-type: none;
}

h1 {
    text-align: center;
}

button {
    max-width: fit-content;
    border-radius: .2rem;
    font-size: 1.5rem;
    font-family: inherit;
    color: black;
}

img {
    height: 35vh;
}

header p {
    text-align: center;
    font-size: 2rem;
    font-family: Plavsky;
}

.gundamSelector {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.gundamSelector button {
    background-color: #989EA6;
    background-blend-mode: luminosity;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    margin: .5rem;
    padding: 3rem;
    border-radius: 50%;
    border: 8px rgb(255, 255, 255) dashed;
}

.gundamSelector .gundamExia {
    background-image: url("../img/gundam_exia-face.png");    
}

.gundamSelector .gundamDynames {
    background-image: url("../img/gundam_dynames-face.png");    
}

.gundamSelector .gundamKyrios {
    background-image: url("../img/gundam_kyrios-face.png");    
}

.gundamSelector .gundamVirtue {
    background-image: url("../img/gundam_virtue-face.png");    
}

.missionButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.missionButtons button {
    padding: 1rem;
    margin: 2rem;
}

button.gundamSelected {
    background-color: #020F59;
    background-blend-mode: normal;
    border-color: rgba(19, 220, 242, .5);
    border-style: outset;
}

.hidden {
    display: none;
}